*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: cursive;
    color: rgb(255, 77, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 100vw;
    height: 100vh;
}


.container1{
    width: 100%;
    height: 90%;
    display: flex;
}
.subcontainer1{
    padding: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.title{
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.subcontainer2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.email-form{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: rgba(242, 198, 128, 0.468);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.email-form h2{
    margin-bottom: 10px;
}
#email{
    height: 10%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
#message{
    height: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
button{
    border: none;
    border-radius: 5px;
    color:#fff;
    background-color: rgb(255, 145, 0);
    height: 10%;
    font-size: 20px;
}
button:hover {
    color:rgb(255, 145, 0);
    background-color: #fff;
    cursor: pointer;
}


.container2{
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: rgba(242, 198, 128, 0.468);
    backdrop-filter: blur(5px);
}


/* Media Query */
@media (max-width:768px) {
    .container1{
        display: flex;
        flex-direction: column;
    }
    .subcontainer1{
        padding: 10px;
        text-align: center;
        width: 100%;
        height: fit-content;
    }
    .subcontainer2{
        width: 100%;
        margin:0;
        padding: 0;
    }
    .email-form{
        width: 90%;
        height: 90%;
    }
    .title{
        font-size: 3rem;
    }
    .container2{
        font-size: medium;
    }
}